.sidebarRow{
    text-align: left;
    padding: 15px 15px;
    display: flex;
}

.sidebarRow__title{
    font-size: 18px;
    font-weight: 500;
    color: #858585;
}

.sidebarRow__titleSelected{
    font-size: 22px;
    font-weight: 500;
    color: white;
}

.sidebarRow__icon{
    flex: 0.1;
    margin-left: 10px;
    font-size: 22px;
    font-weight: 500;
    color: transparent;
}

.sidebarRow__iconSelected{
    flex: 0.1;
    margin-left: 10px;
    font-size: 22px;
    font-weight: 500;
    color: white;
}

.sidebarRow__title:hover{
    cursor: pointer;
    
}
.sidebarRow__titleSelected:hover{
    cursor: pointer;
}